@import './base.css';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Lora', serif;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1160px;
}

